body {
  /*font-family: 'Droid Sans', sans-serif;*/
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif; }

pre {
  background-color: #333;
  color: white; }

a {
  color: #ebaf07; }

.post-meta a {
  color: #ebaf07; }

h2 a {
  color: white; }

.navbar-nav > li > a {
  font-family: cursive; }

#post-title {
  margin-top: 80px;
  color: white;
  text-align: center;
  line-height: 1.4em; }

h3 {
  color: white; }

.da-slider {
  background: initial;
  border-top: none;
  box-shadow: none;
  border-bottom: none; }

.da-slider p {
  color: #EBAF07; }

.da-slide h2 {
  font-weight: 100;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 56px; }

footer {
  background-color: #4e5d6c;
  min-height: 40px;
  padding: 15px;
  text-align: center;
  color: white; }

#contact-email {
  color: white;
  font-size: 15pt; }

#contact {
  padding-top: 100px;
  padding-bottom: 400px; }

#contact h1 {
  border-bottom: 1px solid #8B753D; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

#whatwedo p {
  color: #EBAF07;
  font-family: cursive; }

#whatwedo {
  padding-top: 100px; }
